<%- include('../partials/header'); %> 

<main class="main">
    <div class="container">
        <div class="row">
            <div class="movieSingleDiv">
                <h2><%= data.title %> </h2>
                <p>Rating: <%= data.rating %> </p>
                <p>Year: <%= data.year %></p>
                <p>Run Time: <%= data.run_time %> </p>
            </div>
        </div>
    </div>
</main>

<%- include('../partials/footer'); %> 