<%- include('../partials/header');  %>

<main class="main main-cust-single">
    <section class="section section-cust-single">
        <figure class="figure fig-cust-single">
            <img src="https://via.placeholder.com/450x540" alt="placeholder  img" class="img-fluid cust-single-img" />
            <figcaption><%= data.first_name  %> <%= data.last_name  %>  </figcaption>
            <figcaption>Email: <%= data.email  %> </figcaption>
        </figure>
    </section>
</main>

<%- include('../partials/footer');  %> 
