<%- include('../partials/header');  %> 

<main class="main main-single container">
    <h2 class="main-h2"><%= data.Title %></h2>

    <section class="section section-single d-flex justify-content-between">
        <figure class="figure figure-single">
            <figcaption class="figcaption">OriginalAirDate: <%= data.OriginalAirDate %></figcaption>
            <figcaption class="figcaption">ProductionCode: <%= data.ProductionCode %></figcaption>
        </figure>
        </aside>
    </section>
</main>

<%- include('../partials/footer');  %> 